n8n.json
{"meta":{"templateCredsSetupCompleted":true,"instanceId":"8c8c5237b8e37b006a7adce87f4369350c58e41f3ca9de16196d3197f69eabcd"},"nodes":[{"parameters":{"httpMethod":"POST","path":"981ad22c-97a6-4f32-a0d9-c8e70cebcdb4","responseMode":"responseNode","options":{}},"id":"533c2152-0e06-47b2-b02f-1c85a8520cea","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[620,360],"webhookId":"981ad22c-97a6-4f32-a0d9-c8e70cebcdb4"},{"parameters":{"options":{}},"id":"f18bf611-bb08-49c9-97f6-08fc6af43228","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1440,580],"credentials":{"openAiApi":{"id":"bsO7JDJVAKVfbI1Y","name":"Jon - n8n org"}}},{"parameters":{"sessionKey":"={{ $('Data').first().json.sessionId }}"},"id":"84458eaa-c80a-4d12-875f-3b8d6754091c","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.1,"position":[1580,600]},{"parameters":{"respondWith":"json","responseBody":"={\n  \"sessionId\": \"{{ $('Data').first().json.sessionId }}\",\n  \"agentMessage\": \"{{ $json.output }}\"\n}","options":{}},"id":"8a17ee7e-1293-4964-8112-b47652c4f103","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1840,380]},{"parameters":{},"id":"ed3f7924-7c55-4577-a0bf-977849b507cc","name":"Data","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1280,380]},{"parameters":{"promptType":"define","text":"={{ $json.contactMessage }}","options":{}},"id":"7cd4f186-7e8f-466b-964c-b6ef2b5e0fd0","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.3,"position":[1460,380]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"a7b94cfd-bd75-4a87-82f2-d903129bd236","leftValue":"={{ $json.body.sessionId }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"1528c235-f677-415e-9bb1-40ef75d7f8eb","name":"If has SessionId","type":"n8n-nodes-base.if","typeVersion":2,"position":[840,360]},{"parameters":{"assignments":{"assignments":[{"id":"d23dcfe6-87e4-4dad-b9cc-c1bbb52291eb","name":"sessionId","value":"={{ $json.body.sessionId }}","type":"string"},{"id":"90072504-b82a-4514-93ec-7d907397361c","name":"contactMessage","value":"={{ $json.body.contactMessage }}","type":"string"}]},"options":{}},"id":"c4ffea8c-b5ca-44c9-a32b-f55e6aece106","name":"Set with SessionId","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1060,300]},{"parameters":{"assignments":{"assignments":[{"id":"d23dcfe6-87e4-4dad-b9cc-c1bbb52291eb","name":"sessionId","value":"={{(+new Date).toString(36).slice(-5) + Math.random().toString(36).substr(2, 5)}}","type":"string"},{"id":"90072504-b82a-4514-93ec-7d907397361c","name":"contactMessage","value":"={{ $json.body.contactMessage }}","type":"string"}]},"options":{}},"id":"657c12ed-19f5-43b6-9b85-01e2b7c5687d","name":"Set with GeneratedID","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1060,480]}],"connections":{"Webhook":{"main":[[{"node":"If has SessionId","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Data":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"If has SessionId":{"main":[[{"node":"Set with SessionId","type":"main","index":0}],[{"node":"Set with GeneratedID","type":"main","index":0}]]},"Set with SessionId":{"main":[[{"node":"Data","type":"main","index":0}]]},"Set with GeneratedID":{"main":[[{"node":"Data","type":"main","index":0}]]}},"pinData":{}}